{# t07-generic-content-page.twig #}
{% extends 'includes/1_core/layout.twig' %}

{% block page %}
{% include 'includes/3_components/c-page-hero.twig' %}
<main>
  <p>Sorry, but the page you were trying to view does not exist.</p>
  <p>It looks like this was the result of either:</p>
  <ul>
    <li>a mistyped address</li>
    <li>an out-of-date link</li>
  </ul>
</main>
{% endblock %}
